{% extends "base.html" %}
{% block title %}Apple - Stay Healthy{% endblock %}
{% block body %}
<!-- HEADER
================================================== -->
<div class="undermenuarea">
	<div class="boxedshadow">
	</div>
	<div class="grid">
		<div class="row">
			<div class="c8">
				<h1 class="titlehead">Apple</h1>
			</div>
			<div class="c4">
			</div>
		</div>
	</div>
</div>
		<!-- content 
			================================================== -->
			<div class="grid">
				<div class="shadowundertop">
				</div>
				<div class="row">		
					
					<!-- MAIN CONTENT -->
					<div class="c9">
						<h1 class="maintitle space-top">
						<span>Benefits of Apple</span>
						</h1>
						<img alt="" src="/static/images/apple_870x454.jpg"><br>
						<br>
						<p>
							<span class="dropcap">A</span>
							<strong>pples lower cholesterol</strong> One medium-sized apple contains about four grams of fiber. Some of that is in the form of pectin, a type of soluble fiber that has been linked to lower levels of LDL or "bad" cholesterol. That's because it blocks absorption of cholesterol, according to WebMD, which helps the body to use it rather than store it.<br>
							<br>
							<strong>They keep you full</strong> The wealth of fiber an apple provides keep you feeling full for longer without costing you a lot of calories—there are about 95 in a medium-sized piece of fruit. That's because it takes our bodies longer to digest complex fiber than more simple materials like sugar or refined grains. Anything with at least three grams of fiber is a good source of the nutrient; most people should aim to get about 25 to 40 grams a day.<br>
							<br>
							<strong>Apples may keep you slim</strong> One component of an apple's peel (which also has most of the fiber) is something called ursolic acid, which was linked to a lower risk of obesity in a recent study in mice. That's because it boosts calorie burn and increases muscle and brown fat, HuffPost UK reports.<br>
							<br>
							<strong>They can help breathing problems</strong> Five or more apples a week (less than an apple a day!) has been linked with better lung function, most likely because of an antioxidant called quercetin found in the skin of apples (as well as in onions and tomatoes), the BBC reports. The breath benefits of apples extend even further: A 2007 study found that women who eat plenty of the fruit are less likely to have children with asthma.<br>
							<br>
							<strong>Apples boost your immune system</strong> While they don't quite rival oranges, apples are considered a good source of immune system-boosting vitamin C, with over 8 milligrams per medium-sized fruit, which amounts to roughly 14 percent of your daily recommended intake.<br>
							<br>
							<strong>They're good for your brain</strong> The fruit has been linked to an uptick in acetylcholine production, which communicates between nerve cells, so apples may help your memory and lower your chances of developing Alzheimer's.<br>
							<br>
							<strong>http://www.shape.com/weight-loss/food-weight-loss/8-health-benefits-apples</strong>
						</p>
					</div><!-- end main content -->
					
					<!-- SIDEBAR -->	
					<div class="c3">
						<div class="rightsidebar">
							<h2 class="title stresstitle">Quick Facts</h2>
							<hr class="hrtitle">
							<a href="/avocado">
							<img src="/static/images/avocado.jpg" class="imgOpa teamimage" alt="">
							</a>
							<div class="teamdescription">
								<h1>Avocado</h1>
								<span>Top 5 Health Benefits of Avocado</span>
							</div>
							<br/>
							<a href="/banana">
							<img src="/static/images/banana.jpg" class="imgOpa teamimage" alt="">
							</a>
							<div class="teamdescription">
								<h1>Banana</h1>
								<span>Health Benefits of Banana Fruit</span>
							</div>
							<br/>
							<a href="/mangoes">
							<img src="/static/images/mangoes.jpg" class="imgOpa teamimage" alt="">
							</a>
							<div class="teamdescription">
								<h1>Mangoes</h1>
								<span>Benefits of Mangoes Fruit</span>
							</div>
						</div>
					</div><!-- end sidebar -->			
				</div>
		</div><!-- end grid -->
		</div><br>
		<!-- End content -->
		{% endblock %}
