{% extends "base.html" %}
{% block title %}Banana - Stay Healthy{% endblock %}
{% block body %}
<!-- HEADER
================================================== -->
<div class="undermenuarea">
	<div class="boxedshadow">
	</div>
	<div class="grid">
		<div class="row">
			<div class="c8">
				<h1 class="titlehead">Banana</h1>
			</div>
			<div class="c4">
			</div>
		</div>
	</div>
</div>
<!-- content 
			================================================== -->
			<div class="grid">
				<div class="shadowundertop">
				</div>
				<div class="row">		
					
					<!-- MAIN CONTENT -->
					<div class="c9">
						<h1 class="maintitle space-top">
						<span>Health Benefits of Banana Fruit</span>
						</h1>
						<img alt="" src="/static/images/banana_870x400.jpg"><br>
						<br>
						<p>
							<span class="dropcap">B</span>
							anana fruit is one of the high calorie tropical fruits. 100 g of fruit provides 90 calories. Besides, it contains good amounts of health benefiting anti-oxidants, minerals, and vitamins.
							<br><br>Banana pulp is composed of soft, easily digestible flesh with simple sugars like fructose and sucrose that when eaten replenishes energy and revitalizes the body instantly; thus, for these qualities, bananas are being used by athletes to get instant energy and as supplement food in the treatment plan for underweight children.
							<br><br>The fruit holds a good amount of soluble dietary fiber (7% of DRA per 100 g) that helps normal bowel movements; thereby reducing constipation problems.
							<br><br>It contains health promoting flavonoid poly-phenolic antioxidants such as lutein, zea-xanthin, ß and α-carotenes in small amounts. These compounds help act as protective scavengers against oxygen-derived free radicals and reactive oxygen species (ROS) that play a role in aging and various disease processes.
							<br><br>It is also a very good source of vitamin-B6 (pyridoxine), provides about 28% of daily-recommended allowance. Pyridoxine is an important B-complex vitamin that has a beneficial role for the treatment of neuritis, and anemia. Further, it helps decrease homocystine (one of the causative factors in coronary artery disease (CHD) and stroke episodes) levels within the body.
							<br><br>The fruit is an also a moderate source of vitamin-C (about 8.7 mg per 100g). Consumption of foods rich in vitamin-C helps the body develop resistance against infectious agents and scavenge harmful oxygen-free radicals.
							<br><br>Fresh bananas provide adequate levels of minerals like copper, magnesium, and manganese. Magnesium is essential for bone strengthening and has a cardiac-protective role as well. Manganese is used by the body as a co-factor for the antioxidant enzyme, superoxide dismutase. Copper is required in the production of red blood cells.
							<br><br>Fresh banana is a very rich source of potassium. 100 g fruit provides 358 mg potassium. Potassium is an important component of cell and body fluids that helps control heart rate and blood pressure, countering bad effects of sodium.
							<br><br><strong>From: </strong> www.nutrition-and-you.com/banana-fruit.html
						</p>
					</div><!-- end main content -->
					
					<!-- SIDEBAR -->	
					<div class="c3">
						<div class="rightsidebar">
							<h2 class="title stresstitle">Quick Facts</h2>
							<hr class="hrtitle">
							<br/>
							<a href="/mangoes">
							<img src="/static/images/mangoes.jpg" class="imgOpa teamimage" alt="">
							</a>
							<div class="teamdescription">
								<h1>Mangoes</h1>
								<span>Benefits of Mangoes Fruit</span>
							</div>
							<br/>
							<a href="/mangosteen">
								<img src="/static/images/mangosteen.jpg" class="imgOpa teamimage" alt="">
								</a>
								<div class="teamdescription">
									<h1>Mangosteen</h1>
									<span>Health Benefits of Mangosteen</span>
								</div>
							<br/>
							<a href="/orange">
								<img src="/static/images/orange.jpg" class="imgOpa teamimage" alt="">
								</a>
								<div class="teamdescription">
									<h1>Orange</h1>
									<span>Health Benefits of Orange Fruit</span>
								</div>
						</div>
					</div><!-- end sidebar -->			
				</div>
		</div><!-- end grid -->
		</div><br>
		<!-- End content -->
	{% endblock %}