{% extends "base.html" %} {% block title %}Butt Workout - Stay Healthy{% endblock %} {% block body %}

<!-- HEADER
================================================== -->
<div class="undermenuarea">
  <div class="boxedshadow">
  </div>
  <div class="grid">
    <div class="row">
      <div class="c8">
        <h1 class="titlehead">Butt Workout</h1>
      </div>
    </div>
  </div>
</div>

<div class="w3-content w3-section" style="max-width:90%;">
  <img class="mySlides w3-animate-fading" src="/static/images/Reasons-Why-Your-Butt-Workout-Isnt-Giving-You-A-Killer-Booty-652x435.jpg"
    style="width:100%">
  <img class="mySlides w3-animate-fading" src="/static/images/Lower-Body-Exercises-Women.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="/static/images/1200-mike-d-long-workout.jpg" style="width:100%">
</div>

<!-- CONTENT
================================================== -->
<div class="grid">
  <div class="shadowundertop">
  </div>
  <div class="row">
    <!-- begin pricing style 1 -->
    <div class="c12">
      <h1 class="maintitle ">
        <span>WEEK 1</span>
      </h1>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              1
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn1">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close1">&times;</span>
          <h2>Day 1</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>16</td>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>15</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>10</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>10 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              2
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn2">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close2">&times;</span>
          <h2>Day 2</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>10</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT LEFT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT RIGHT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>10</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              3
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn3">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal3" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close3">&times;</span>
          <h2>Day 3</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>12</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>10 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              4
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn4">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal4" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close4">&times;</span>
          <h2>Day 4</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td colspan="2">REST DAY</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              5
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn5">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal5" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close5">&times;</span>
          <h2>Day 5</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>16</td>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>25</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>12</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              6
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn6">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal6" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close6">&times;</span>
          <h2>Day 6</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>14</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT</td>
              <td>14</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>15</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>12 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              7
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn7">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal7" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close7">&times;</span>
          <h2>Day 7</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>10</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>10</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>12</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- end pricing style 1 -->
  </div>

  {%if not session['username']%}
  <br>
  <!-- CALL TO ACTION 
================================================== -->
  <div class="row space-bot">
    <div class="c12">
      <div class="wrapaction">
        <div class="c9">
          <h1 class="subtitles">
            <b>Butt Workout</b>
          </h1>
          If you want more plan for 30 days. Please register or login to get more suggestion.
        </div>
        <div class="c3 text-center" style="margin-top:40px;">
          <div class="actionbutton">
            <a href="/register">Register Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%else%}
  <div class="row space-top">
    <div class="c12 space-top">

      <h1 class="maintitle ">
        <span>WEEK 2</span>
      </h1>

      <!-- begin pricing style 1 -->
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              8
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn8">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal8" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close8">&times;</span>
          <h2>Day 8</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td colspan="2">REST DAY</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              9
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn9">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal9" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close9">&times;</span>
          <h2>Day 9</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SQUATSS</td>
              <td>20</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>10</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>14</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>20</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>14 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              10
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn10">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal10" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close10">&times;</span>
          <h2>Day 10</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>15</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>15</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>16</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>15</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>23</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>14</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              11
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn11">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal11" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close11">&times;</span>
          <h2>Day 11</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>20</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>16</td>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>20</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>25</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>14 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              12
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn12">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal12" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close12">&times;</span>
          <h2>Day 12</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td colspan="2">REST DAY</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              13
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn13">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal13" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close13">&times;</span>
          <h2>Day 13</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>26</td>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>25</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>16</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>16</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>28</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>16</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              14
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn14">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal14" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close14">&times;</span>
          <h2>Day 14</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>20</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>16</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>18</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>18</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>16 S</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- end pricing style 1 -->
    </div>
  </div>
  <div class="row space-top">
    <!-- begin pricing style 1 -->
    <div class="c12">

      <h1 class="maintitle ">
        <span>WEEK 3</span>
      </h1>

      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              15
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn15">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal15" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close15">&times;</span>
          <h2>Day 15</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>BACKWARD LUNGES</td>
              <td>20</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT LEFT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT RIGHT</td>
              <td>10</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>20</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>30</td>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>25</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              16
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn16">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal16" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close16">&times;</span>
          <h2>Day 16</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td colspan="2">REST DAY</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              17
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn17">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal17" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close17">&times;</span>
          <h2>Day 17</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>10</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>18 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              18
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn18">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal18" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close18">&times;</span>
          <h2>Day 18</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>24</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>16</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT LEFT</td>
              <td>23</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT RIGHT</td>
              <td>23</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>30</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>18</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              19
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn19">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal19" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close19">&times;</span>
          <h2>Day 19</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>25</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>16</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>16</td>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>18</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>18 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              20
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn20">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal20" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close20">&times;</span>
          <h2>Day 20</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td colspan="2">REST DAY</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              21
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn21">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal21" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close21">&times;</span>
          <h2>Day 21</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>30</td>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>16</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>16</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>20</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- end pricing style 1 -->
  </div>
  <div class="row space-top">
    <div class="c12 space-top">

      <h1 class="maintitle ">
        <span>WEEK 4</span>
      </h1>

      <!-- begin pricing style 1 -->
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              22
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn22">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal22" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close22">&times;</span>
          <h2>Day 22</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>30</td>
            </tr>
            <tr>
              <td>BACKWARD LUNGE</td>
              <td>20</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>18</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>22</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT LEFT</td>
              <td>18</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT RIGHT</td>
              <td>18</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>30</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>20 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              23
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn23">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal23" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close23">&times;</span>
          <h2>Day 23</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>28</td>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>20</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              24
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn24">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal24" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close24">&times;</span>
          <h2>Day 24</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td colspan="2">REST DAY</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              25
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn25">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal25" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close25">&times;</span>
          <h2>Day 25</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>30</td>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>25</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>24</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>24</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>30</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>22 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              26
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn26">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal26" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close26">&times;</span>
          <h2>Day 26</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>BACKWARD LUNGE</td>
              <td>20</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>20</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>30</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>22</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              27
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn27">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal27" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close27">&times;</span>
          <h2>Day 27</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>32</td>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>25</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>24</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>24</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>14</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>30</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>22</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              28
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn28">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal28" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close28">&times;</span>
          <h2>Day 28</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td colspan="2">REST DAY</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- end pricing style 1 -->
    </div>
  </div>
  <div class="row space-top">
    <div class="c12 space-top">

      <h1 class="maintitle ">
        <span>WEEK 5</span>
      </h1>

      <!-- begin pricing style 1 -->
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              29
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn29">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal29" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close29">&times;</span>
          <h2>Day 29</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>STANDING GLUTE KICKBACKS</td>
              <td>34</td>
            </tr>
            <tr>
              <td>LUNGES</td>
              <td>24</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>24</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>SIDE-LYING LEG LIFT LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>BUTT BRIDGE</td>
              <td>30</td>
            </tr>
            <tr>
              <td>SIDE HOP</td>
              <td>24</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>20 S</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              30
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn30">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal30" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close30">&times;</span>
          <h2>Day 30</h2>
          <table>
            <tr>
              <th class="undermenuarea">EXERCISES</th>
              <th class="undermenuarea">REPS</th>
            </tr>
            <tr>
              <td>SQUATS</td>
              <td>25</td>
            </tr>
            <tr>
              <td>DONKEY KICKS RIGHT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>BACKWARD LUNGE</td>
              <td>24</td>
            </tr>
            <tr>
              <td>MOUNTAIN CLIMBER</td>
              <td>26</td>
            </tr>
            <tr>
              <td>FROGGY GLUTE LIFTS</td>
              <td>36</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT LEFT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>FIRE HYDRANT RIGHT</td>
              <td>20</td>
            </tr>
            <tr>
              <td>DONKEY KICKS LEFT</td>
              <td>25</td>
            </tr>
            <tr>
              <td>WALL SIT</td>
              <td>25 S</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- end pricing style 1 -->
    </div>
  </div>
  {%endif%}
</div>
<!-- end grid -->
<!-- EXERCISES
	================================================== -->
<div class="row space-top">
  <div class="c12 space-top">
    <h1 class="maintitle">
      <span>EXERCISES</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="c12">
    <div class="list_carousel">
      <div class="carousel_nav">
        <a class="prev" id="car_prev" href="#">
          <span>prev</span>
        </a>
        <a class="next" id="car_next" href="#">
          <span>next</span>
        </a>
      </div>
      <div class="clearfix">
      </div>
      <ul id="recent-projects">
        <!--box 1-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <div id="mountainClimber">
                <img src="/static/images/exercises/mountain climber.gif" class="imgOpa" alt="">
              </div>
              <div class="teamdescription">
                <h1>MOUNTAIN CLIMBER</h1>
                <!-- <p class="hirefor">Start in the push-up position. Bend your right knee toward your chest and keep your left leg straight, then
                  quickly switch from one leg to the other. This exercise strengthens multiple muscle groups</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 2-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <div id="squat">
                <img src="/static/images/exercises/squat.gif" class="imgOpa" alt="">
              </div>
              <div class="teamdescription">
                <h1>SQUATS</h1>
                <!-- <p class="hirefor">Stand with your feet shoulder width apart and your arms stretched forward, then lower your body until your
                  thighs are parallel with the floor. Your knees should be extended in the same direction as your toes. Return
                  to the start position and do the next rep. This works the thighs, hips buttocks, quads, hamstrings and
                  lower body.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 3-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <a href="#">
                <img src="/static/images/exercises/lunges.gif" class="imgOpa" alt="">
              </a>
              <div class="teamdescription">
                <h1>LUNGES</h1>
                <!-- <p class="hirefor">Stand with your feet shoulder width apart and your hands on your hips. Take a step forward with your right
                  leg and lower your body until your right thigh is parallel with the floor. Then return and switch to the
                  other leg. This exercise strengthens the quadriceps, gluteus maximus and hamstrings</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 8-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <div id="jumpSquat">
                <img src="/static/images/exercises/jump squat.gif" class="imgOpa" alt="">
              </div>
              <div class="teamdescription">
                <h1>JUMPING SQUATS</h1>
                <!-- <p class="hirefor">Start in the squat position, then jump up using your abdominal muscles for strength. This exercise works
                  your abdomen.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 8-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <a href="#">
                <img src="/static/images/exercises/donkey.gif" class="imgOpa" alt="">
              </a>
              <div class="teamdescription">
                <h1>DONKEY KICKS</h1>
                <!-- <p class="hirefor">Start on all fours with your knees under butt and your hands under shoulders. Then lift your right leg and
                  squeeze your butt as much as you can. Go back to the start position and repeat the exercise.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 8-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <a href="#">
                <img src="/static/images/exercises/butt-bridge.gif" class="imgOpa" alt="">
              </a>
              <div class="teamdescription">
                <h1>BUTT BRIDGE</h1>
                <!-- <p class="hirefor">Lie on your back with knees bent and feet flat on the floor. Put your arms flat at your sides. Then lift
                  your butt up and down.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 8-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <a href="#">
                <img src="/static/images/exercises/fire-hydrant.gif" class="imgOpa" alt="">
              </a>
              <div class="teamdescription">
                <h1>FIRE HYDRANT</h1>
                <!-- <p class="hirefor">Start on all fours with your knees under your butt and your hands under your shoulders. Then lift your right
                  leg to the side at a 90 degree angle.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 8-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <div id="plieSquat">
                <img src="/static/images/exercises/plie squat.gif" class="imgOpa" alt="">
              </div>
              <div class="teamdescription">
                <h1>PLIE SQUATS</h1>
                <!-- <p class="hirefor">Stand with your hands on your hips and feet a little wider than shoulder width apart. Then lower your bidy
                  until your thighs are parallel to the floor. Your knees should be extended in the same direction as your
                  tiptoes.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 8-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <a href="#">
                <img src="/static/images/exercises/scissor.gif" class="imgOpa" alt="">
              </a>
              <div class="teamdescription">
                <h1>SCISSORS</h1>
                <!-- <p class="hirefor">Lie on your back with arms at sides, palms down and legs extended. Lift you legs and cross the right thigh
                  over the left, then reverse the exercise. >Make sure your back is always flat. It's a great exercise for
                  the obliques and rectus abdominis.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 8-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <a href="#">
                <img src="/static/images/exercises/skater.gif" class="imgOpa" alt="">
              </a>
              <div class="teamdescription">
                <h1>SKATER JUMP</h1>
                <!-- <p class="hirefor">Stand on the floor, bend your legs slightly and lean your upper body forward. Then jump to the right. As
                  you jump, bring your left foot behind you and your left arm in front of you. Then jump to the other side.
                  Repeat the exercise.</p> -->
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="clearfix">
      </div>
    </div>
  </div>
</div>
<!-- end grid -->
{% endblock %}