{% extends "base.html" %}
{% block title %}Exercise - Stay Healthy{% endblock %}
{% block body %}
<!-- HEADER
================================================== -->
<div class="undermenuarea">
	<div class="boxedshadow">
	</div>
	<div class="grid">
		<div class="row">
			<div class="c8">
				<h1 class="titlehead">Exercise</h1>
			</div>
			<div class="c4">
			</div>
		</div>
	</div>
</div>
<!-- CONTENT
================================================== -->
<div class="grid">
		<div class="shadowundertop"></div>
		<div class="row">
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
<table id="test_table">
<thead>
  <tr>
    <th width="98"> <div align="center">Exercise</div></th>
    <th width="70"> <div align="center">CPH100</div></th>
	  <th width="70"> <div align="center">CPH200</div></th>
  </tr>
  </thead>
<tbody id="myTable">
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>

</script>
<br>
	</div>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<br>
	<div class="row space-bot">
		<div class="c12">
			<div class="wrapaction">
				<div class="c9" style="margin-top:10px;">
					<h1 class="subtitles"><b>Generate to Excel</b></h1>
					If you want generate to store information in Microsoft Office Excel format, Please Register or Login to download here
				</div>
				<div class="c3 text-center" style="margin-top:40px;">
					<div class="actionbutton"><a href="/register">Register</a></div> <div class="actionbutton"><a href="/login">Login</a></div>
				</div>
			</div>
		</div>
	</div>
</div><br><!-- end grid -->
{% endblock %}