{% extends "base.html" %}
{% block title %}Mangoes - Stay Healthy{% endblock %}
{% block body %}
<!-- HEADER
================================================== -->
<div class="undermenuarea">
	<div class="boxedshadow">
	</div>
	<div class="grid">
		<div class="row">
			<div class="c8">
				<h1 class="titlehead">Mangoes</h1>
			</div>
			<div class="c4">
			</div>
		</div>
	</div>
</div>
		<!-- content 
			================================================== -->
			<div class="grid">
				<div class="shadowundertop">
				</div>
				<div class="row">		
					
					<!-- MAIN CONTENT -->
					<div class="c9">
						<h1 class="maintitle space-top">
						<span>Health benefits of Mangoes</span>
						</h1>
						<img alt="" src="/static/images/mangoes_news.jpg"><br>
						<br>
						<p>
							<span class="dropcap">M</span>
							ango fruit is rich in pre-biotic dietary fiber, vitamins, minerals, and poly-phenolic flavonoid antioxidant compounds.
							<br><br>
							According to new research study, mango fruit has been found to protect against colon, breast, leukemia and prostate cancers. Several trial studies suggest that polyphenolic anti-oxidant compounds in mango are known to offer protection against breast and colon cancers.
							<br><br>
							Mango fruit is an excellent source of Vitamin-A and flavonoids like beta-carotene, alpha-carotene, and beta-cryptoxanthin. 100 g of fresh fruit provides 765 IU or 25% of recommended daily levels of vitamin-A. Together; these compounds have been known to have antioxidant properties and are essential for vision. Vitamin A is also required for maintaining healthy mucus membranes and skin. Consumption of natural fruits rich in carotenes is known to protect the body from lung and oral cavity cancers.
							<br><br>
							Fresh mango is a good source of potassium. 100 g fruit provides 156 mg of potassium while just 2 mg of sodium. Potassium is an important component of cell and body fluids that helps controlling heart rate and blood pressure.
							<br><br>
							It is also a very good source of vitamin-B6 (pyridoxine), vitamin-C and vitamin-E. Consumption of foods rich in vitamin C helps the body develop resistance against infectious agents and scavenge harmful oxygen-free radicals. Vitamin B-6 or pyridoxine is required for GABA hormone production within the brain. It also controls homocystiene levels within the blood, which may otherwise be harmful to blood vessels resulting in CAD, and stroke.
							<br><br>
							Further, it composes moderate amounts of copper. Copper is a co-factor for many vital enzymes, including cytochrome c-oxidase and superoxide dismutase (other minerals function as co-factors for this enzyme are manganese and zinc). Copper is also required for the production of red blood cells.
							<br><br>
							Additionally, mango peel is also rich in phytonutrients, such as the pigment antioxidants like carotenoids and polyphenols.
							<br><br>
							<strong>From: </strong> www.natures-health-foods.com/mangoes.html
						</p>
					</div><!-- end main content -->
					
					<!-- SIDEBAR -->	
					<div class="c3">
						<div class="rightsidebar">
							<h2 class="title stresstitle">Quick Facts</h2>
							<hr class="hrtitle">
							<a href="/mangosteen">
								<img src="/static/images/mangosteen.jpg" class="imgOpa teamimage" alt="">
								</a>
								<div class="teamdescription">
									<h1>Mangosteen</h1>
									<span>Health Benefits of Mangosteen</span>
								</div>
							<br/>
							<a href="/orange">
								<img src="/static/images/orange.jpg" class="imgOpa teamimage" alt="">
								</a>
								<div class="teamdescription">
									<h1>Orange</h1>
									<span>Health Benefits of Orange Fruit</span>
								</div>
							<br/>
							<a href="/watermelon">
								<img src="/static/images/watermelon.jpg" class="imgOpa teamimage" alt="">
								</a>
								<div class="teamdescription">
									<h1>Watermelon</h1>
									<span>Health Benefits of Watermelon</span>
								</div>
						</div>
					</div><!-- end sidebar -->			
				</div>
		</div><!-- end grid -->
		</div><br>
		<!-- End content -->
	{% endblock %}