{% extends "base.html" %}
{% block title %}Orange - Stay Healthy{% endblock %}
{% block body %}
	<!-- HEADER
================================================== -->
<div class="undermenuarea">
	<div class="boxedshadow">
	</div>
	<div class="grid">
		<div class="row">
			<div class="c8">
				<h1 class="titlehead">Orange</h1>
			</div>
			<div class="c4">
			</div>
		</div>
	</div>
</div>
		<!-- content 
			================================================== -->
			<div class="grid">
				<div class="shadowundertop">
				</div>
				<div class="row">		
					
					<!-- MAIN CONTENT -->
					<div class="c9">
						<h1 class="maintitle space-top">
						<span>Health Benefits of Orange Fruit</span>
						</h1>
						<img alt="" src="/static/images/orange_news.jpg"><br>
						<br>
						<p>
							<span class="dropcap">N</span>
							utrients in oranges are plentiful and diverse. The fruit is low in calories, contains no saturated fats or cholesterol, but is rich in dietary fiber, pectin. Pectin, by its virtue as a bulk laxative, helps to protect the mucous membrane of the colon by decreasing its exposure time to toxic substances as well as by binding to cancer-causing chemicals in the colon. Pectin has also been shown to reduce blood cholesterol levels by decreasing its re-absorption in the colon by binding to bile acids in the colon.
							<br><br>
							Oranges, like other citrus fruits, are an excellent source of vitamin C (provides 53.2 mg per 100 g, about 90% of DRI); Vitamin C is a powerful natural antioxidant. Consumption of foods rich in vitamin C helps the body develop resistance against infectious agents and scavenge harmful, pro-inflammatory free radicals from the blood.
							<br><br>
							Orange fruit contains a variety of phytochemicals. Hesperetin, naringin, and naringenin are flavonoids found in citrus fruits. Naringenin is found to have a bio-active effect on human health as antioxidant, free radical scavenger, anti-inflammatory, and immune system modulator. This substance has also been shown to reduce oxidant injury to DNA in-vitro studies. Total antioxidant strength (ORAC) of oranges (navel variety) is 1819 µmol TE/100 g.
							<br><br>
							Oranges also contain very good levels of vitamin A, and other flavonoid antioxidants such as alpha and beta-carotenes, beta-cryptoxanthin, zea-xanthin and lutein. These compounds are known to have antioxidant properties. Vitamin A is also required for maintaining healthy mucus membranes and skin and is essential for vision. Consumption of natural fruits rich in flavonoids helps the body to protect from lung and oral cavity cancers.
							<br><br>
							It is also a very good source of B-complex vitamins such as thiamin, pyridoxine, and folates. These vitamins are essential in the sense that body requires them from external sources to replenish.
							<br><br>
							Orange fruit also contains a very good amount of minerals like potassium and calcium. Potassium is an important component of cell and body fluids that helps control heart rate and blood pressure through countering sodium actions.
							<br><br>
							<strong>From: </strong> www.nutrition-and-you.com/orange-fruit.html
						</p>
					</div><!-- end main content -->
					
					<!-- SIDEBAR -->	
					<div class="c3">
						<div class="rightsidebar">
							<h2 class="title stresstitle">Quick Facts</h2>
							<hr class="hrtitle">
							<a href="/watermelon">
								<img src="/static/images/watermelon.jpg" class="imgOpa teamimage" alt="">
								</a>
								<div class="teamdescription">
									<h1>Watermelon</h1>
									<span>Health Benefits of Watermelon</span>
								</div>
							<br/>
							<a href="/apple">
								<img src="/static/images/apple.jpg" class="imgOpa teamimage" alt="">
								</a>
								<div class="teamdescription">
									<h1>Apple</h1>
									<span>Benefits of Apple</span>
								</div>
							<br/>
							<a href="/avocado">
								<img src="/static/images/avocado.jpg" class="imgOpa teamimage" alt="">
								</a>
								<div class="teamdescription">
									<h1>Avocado</h1>
									<span>Top 5 Health Benefits of Avocado</span>
								</div>
						</div>
					</div><!-- end sidebar -->			
				</div>
		</div><!-- end grid -->
		</div><br>
		<!-- End content -->
		{% endblock %}