{% extends "base.html" %}
{% block title %}Standard Diet - Stay Healthy{% endblock %}
{% block body %}
<!-- HEADER
================================================== -->
<div class="undermenuarea">
  <div class="boxedshadow">
  </div>
  <div class="grid">
    <div class="row">
      <div class="c8">
        <h1 class="titlehead">Standard Diet</h1>
      </div>
    </div>
  </div>
</div>

<div class="w3-content w3-section" style="max-width:90%;">
  <img class="mySlides w3-animate-fading" src="/static/images/diet2.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="/static/images/diet3.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="/static/images/diet5.jpg" style="width:100%">
</div>

<!-- CONTENT
  ================================================== -->
<div class="grid">
  <div class="shadowundertop">
  </div>
  <div class="row">
    <!-- begin pricing style 1 -->
    <div class="c12">
      <h1 class="maintitle ">
        <span>WEEK 1</span>
      </h1>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              1
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn1">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close1">&times;</span>
          <h2>Day 1</h2>
          <div style="background: #cce5ff;">
          <br>
          <ol><b>Breakfast</b>
              <li>1 cup of tea or black coffee without sugar and milk</li>
              <li>Oatmeal porridge</li>
          </ol>
          <br>
          <ol><b>Lunch</b>
            <li>2 prieces of whole-grain toast with vegetables (oninons, tomato,lettuce, etc.)</li>
            <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
          </ol>
          <br>
          <ol><b>Dinner</b>
            <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>
          </ol>
          <br>
          </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              2
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn2">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close2">&times;</span>
          <h2>Day 2</h2>
          <div style="background: #cce5ff;">
              <br>
              <ol><b>Breakfast</b>
                  <li>1 cup of tea or black coffee without sugar and milk</li>
                  <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
              </ol>
              <br>
              <ol><b>Lunch</b>
                <li>Vegetables Salad (carrots, tomatos, sweet peppers, cucumbers, etc.)</li>
                <li>Yogurt (low-fat or low-sugar is better)</li>
              </ol>
              <br>
              <ol><b>Dinner</b>
                <li>Any vegetable soup with no salt added</li>
                <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>
              </ol>
              <br>
              </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              3
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn3">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal3" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close3">&times;</span>
          <h2>Day 3</h2>
          <div style="background: #cce5ff;">
              <br>
              <ol><b>Breakfast</b>
                  <li>1 cup of tea or black coffee without sugar and milk</li>
                  <li>2 scrambled eggs(no butter or oil)</li>
                  <li>Oatmeal porridge</li>
                </ol>
              <br>
              <ol><b>Lunch</b>
                <li>Steamed brown rice or boiled noodles</li>
                <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>
              </ol>
              <br>
              <ol><b>Dinner</b>
                <li>3 baked or boiled potatoes</li>
                <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
              </ol>
              <br>
          </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              4
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn4">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal4" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close4">&times;</span>
          <h2>Day 4</h2>
          <div style="background: #cce5ff;">
              <br>
              <ol><b>Breakfast</b>
                  <li>1 cup of tea or black coffee without sugar and milk</li>
                  <li>2 pieces of whole-grain toast with vegetables (onions, tomatos,lettuce, etc.)</li>
              </ol>
              <br>
              <ol><b>Lunch</b>
                <li>Some blueberries, strawberries,raspberries or blackberries</li>
                <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>
              </ol>
              <br>
              <ol><b>Dinner</b>
                <li>Some cooked or boiled corns</li>
                <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>
              </ol>
              <br>
              </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              5
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn5">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal5" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close5">&times;</span>
          <h2>Day 5</h2>
          <div style="background: #cce5ff;">
              <br>
              <ol><b>Breakfast</b>
                  <li>1 cup of tea or black coffee without sugar and milk</li>
                  <li>2 scrambled eggs(no butter or oil)</li>
                  <li>1 priece of whole-grain bread or toast</li>
              </ol>
              <br>
              <ol><b>Lunch</b>
                <li>1 grapefruit or orange</li>
                <li>Cooked or baked beans (soybean, lentils, black beans, kidney beans, etc.)</li>
              </ol>
              <br>
              <ol><b>Dinner</b>
                <li>Smoothie or low-fat yogurt</li>
                <li>Fat-free yogurt or milk with some berries</li>
                <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
              </ol>
              <br>
              </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              6
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn6">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal6" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close6">&times;</span>
          <h2>Day 6</h2>
          <div style="background: #cce5ff;">
              <br>
              <ol><b>Breakfast</b>
                  <li>1 cup of tea or black coffee without sugar and milk</li>
                  <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
              </ol>
              <br>
              <ol><b>Lunch</b>
                <li>2 prieces of whole-grain toast with vegetables (oninons, tomato,lettuce, etc.)</li>
                <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>
              </ol>
              <br>
              <ol><b>Dinner</b>
                <li>Fruit salad(apple, pear, orange, grapefruit, pineapple, etc.)</li>
                <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>
              </ol>
              <br>
              </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              7
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn7">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal7" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close7">&times;</span>
          <h2>Day 7</h2>
          <div style="background: #cce5ff;">
              <br>
              <ol><b>Breakfast</b>
                  <li>1 cup of tea or black coffee without sugar and milk</li>
                  <li>Cooked or boiled corn with any vegetables you like</li>
                </ol>
              <br>
              <ol><b>Lunch</b>
                <li>Omelet made by three full eggs and some vegetables</li>
                <li>Yogurt (low-fat or low-sugar is better)</li>
              </ol>
              <br>
              <ol><b>Dinner</b>
                <li>Vegetables Salad (carrots, tomatos, sweet peppers, cucumbers, etc.)</li>
                <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
              </ol>
              <br>
              </div>
        </div>
      </div>
    </div>
    <!-- end pricing style 1 -->
  </div>
  {%if not session['username']%}
  <br>
  <!-- CALL TO ACTION 
================================================== -->
  <div class="row space-bot">
    <div class="c12">
      <div class="wrapaction">
        <div class="c9">
          <h1 class="subtitles">
            <b>Standard Diet</b>
          </h1>
          If you want more plan for 30 days. Please register or login to get more suggestion.
        </div>
        <div class="c3 text-center" style="margin-top:40px;">
          <div class="actionbutton">
            <a href="/register">Register Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%else%}
  <div class="row space-top">
    <div class="c12 space-top">

      <h1 class="maintitle ">
        <span>WEEK 2</span>
      </h1>

      <!-- begin pricing style 1 -->
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              8
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn8">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal8" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close8">&times;</span>
          <h2>Day 8</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>2 prieces of whole-grain toast with vegetables (oninons, tomato,lettuce, etc.)</li>              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Steamed brown rice or boiled noodles</li>              
              <li>3 baked or boiled potatoes</li>            
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Any vegetable soup with no salt added</li> 
              <li>Cooked or baked beans (soybean, lentils, black beans, kidney beans, etc.)</li>             
            </ol>
            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              9
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn9">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal9" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close9">&times;</span>
          <h2>Day 9</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Oatmeal porridge</li>              
              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Vegetables Salad (carrots, tomatos, sweet peppers, cucumbers, etc.)</li>
              <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>             
            </ol>
            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              10
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn10">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal10" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close10">&times;</span>
          <h2>Day 10</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Cooked or boiled corn with any vegetable you like</li>              
              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Smoothie or low-fat yogurt</li>
              <li>Cooked or baked beans (soybean, lentils, black beans, kidney beans, etc.)</li>
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>1 serving of fruit (apple, pear, banana, orange, grapefruit, pineapple, etc.)</li>
              <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>
            </ol>
            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              11
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn11">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal11" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close11">&times;</span>
          <h2>Day 11</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>2 scrambled eggs(no butter or oil)</li>
                <li>2 prieces of whole-grain toast with vegetables (oninons, tomato,lettuce, etc.)</li>             
              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Some blueberries, strawberries,raspberries or blackberries</li>
              <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>1 cookie (low-sugar or sugar-free is better)</li>
              <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
            </ol>
            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              12
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn12">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal12" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close12">&times;</span>
          <h2>Day 12</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>2 scrambled eggs(no butter or oil)</li>
                <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>              
              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Steamed brown rice or boiled noodles</li>
              <li>Any vegetable soup with no salt added</li>
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>1 grapefruit</li>
              <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>
            </ol>
            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              13
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn13">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal13" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close13">&times;</span>
          <h2>Day 13</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Omelet made by three full eggs and some vegetables</li>
              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Smoothie or low-fat yogurt</li>
              <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Any vegetable soup with no salt added</li>
              <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              14
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn14">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal14" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close14">&times;</span>
          <h2>Day 14</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Yogurt (low-fat or low-sugar is better)</li>              
              <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Omelet made by three full eggs and some vegetables</li>
              <li>3 baked or boiled potatoes</li>            <br>
            </div>
        </div>
      </div>
      <!-- end pricing style 1 -->
    </div>
  </div>
  <div class="row space-top">
    <!-- begin pricing style 1 -->
    <div class="c12">

      <h1 class="maintitle ">
        <span>WEEK 3</span>
      </h1>

      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              15
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn15">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal15" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close15">&times;</span>
          <h2>Day 15</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Oatmeal porridge</li>              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
              <li>Smoothie or low-fat yogurt</li>            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Yogurt (low-fat or low-sugar is better)</li>
              <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              16
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn16">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal16" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close16">&times;</span>
          <h2>Day 16</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>1 priece of whole-grain bread or toast</li> 
                <li>1 grapefruit or orange</li>
              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
              <li>Cooked or baked beans (soybean, lentils, black beans, kidney beans, etc.)</li>         
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Any vegetable soup with no salt added</li>
              <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              17
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn17">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal17" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close17">&times;</span>
          <h2>Day 17</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Omelet made by three full eggs and some vegetables</li> 
              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Steamed brown rice or boiled noodles</li>
              <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>         
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Fruit salad(apple, pear, orange, grapefruit, pineapple, etc.)</li>
              <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              18
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn18">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal18" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close18">&times;</span>
          <h2>Day 18</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>              </ol>
            <br>
            <ol><b>Lunch</b>
              <li>Oatmeal porridge</li>
              <li>Some blueberries, strawberries, raspberries or blackberries</li>         
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Vegetables Salad (carrots, tomatos, sweet peppers, cucumbers, etc.)</li>
              <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>            
            </ol>
            <br>
            </div>
            </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              19
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn19">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal19" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close19">&times;</span>
          <h2>Day 19</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>            <br>
            </ol>
            <ol><b>Lunch</b>
              <li>Omelet made by three full eggs and some vegetable</li>
              <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>         
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>            </ol>
              <li>Fat-free yogurt or milk with some berries</li>
            </ol>
              <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              20
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn20">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal20" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close20">&times;</span>
          <h2>Day 20</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>2 scrambled eggs (no butter or oil)</li>
                <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>            
            </ol>
                <ol><b>Lunch</b>
              <li>Oatmeal porridge</li>
              <li>1 cookie (low-sugar or sugar-free is better)</li>         
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>3 baked or boiled potatoes</li>
              <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>            
            </ol>  
              <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              21
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn21">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal21" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close21">&times;</span>
          <h2>Day 21</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Cooked or boiled corn with any vegetable you like</li>
            </ol>
                <ol><b>Lunch</b>
              <li>2 prieces of whole-grain toast with vegetables (oninons, tomato,lettuce, etc.)</li>
              <li>Fruit salad(apple, pear, orange, grapefruit, pineapple, etc.)</li>         
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Fat-free yogurt or milk with some berries</li>
              <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>            </div>
            </ol>
            </div>
      </div>
    </div>
    <!-- end pricing style 1 -->
  </div>
  <div class="row space-top">
    <div class="c12 space-top">

      <h1 class="maintitle ">
        <span>WEEK 4</span>
      </h1>

      <!-- begin pricing style 1 -->
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              22
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn22">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal22" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close22">&times;</span>
          <h2>Day 22</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Oatmeal porridge</li>
            </ol>
            <ol><b>Lunch</b>
              <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
              <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>         
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>1 grapefruit or orange</li>
              <li>Vegetables Salad (carrots, tomatos, sweet peppers, cucumbers, etc.)</li>
              <li>Yogurt (low-fat or lopw-sugar is better)</li>
            </ol>
            <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              23
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn23">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal23" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close23">&times;</span>
          <h2>Day 23</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>2 scrambled eggs(no butter or oil)</li>
                <li>1 piece of whole-grain bread or toast</li>
            </ol>
            <ol><b>Lunch</b>
              <li>Cooked or boiled corn with any vegetable you like</li>
              <li>Some blueberries, strawberries, raspberries or blackberries</li>            
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Some cooked or boiled corns</li>
              <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>            </div>
            </ol>
            </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              24
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn24">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal24" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close24">&times;</span>
          <h2>Day 24</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
                <li>1 grapefruit or orange</li>
            </ol>
                <ol><b>Lunch</b>
              <li>Steamed brown rice or boiled noodeles</li>
              <li>2 prieces of whole-grain toast with vegetables (oninons, tomato,lettuce, etc.)</li>            
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Fruit salad(apple, pear, orange, grapefruit, pineapple, etc.)</li>
              <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>        </div>
            </ol>
            <br>
            </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              25
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn25">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal25" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close25">&times;</span>
          <h2>Day 25</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
            </ol>
                <ol><b>Lunch</b>
              <li>1 grapefruit or orange</li>
              <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>            </ol>
                </ol>
              <br>
            <ol><b>Dinner</b>
              <li>Smoothie or low-fat yogurt</li>
              <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
        </ol>
        <br>
            </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              26
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn26">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal26" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close26">&times;</span>
          <h2>Day 26</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Omelet made by three full eggs and some vegetables</li>
            </ol>
                <ol><b>Lunch</b>
              <li>Steamed brown rice or boiled noodles</li>
              <li>3 baked or boiled potatoes</li>            
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Some blueberries, strawberries,raspberries or blackberries</li>
              <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>        </div>
            </ol>
            </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              27
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn27">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal27" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close27">&times;</span>
          <h2>Day 27</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Oatmeal porridge</li>
            </ol>
                <ol><b>Lunch</b>
              <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
              <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Fruit salad(apple, pear, orange, grapefruit, pineapple, etc.)</li>
              <li>Cooked or baked beans (soybean, lentils, black beans, kidney beans, etc.)</li>            
            </ol>
            </div>
            </div>
            </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              28
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn28">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal28" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close28">&times;</span>
          <h2>Day 28</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>1 priece of whole-grain bread or toast</li>
            </ol>
                <ol><b>Lunch</b>
              <li>Fruit salad(apple, pear, orange, grapefruit, pineapple, etc.)</li>
              <li>Some hummus or mashed potatoes</li>
            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>Any vegetable soup with no salt added</li>
              <li>Chicken Salad (chicken breast, grilled or boiled, with some fruits or vegetables)</li>            
            </ol>
            </div>
        </div>
      </div>
      <!-- end pricing style 1 -->
    </div>
  <div class="row space-top">
    <div class="c12 space-top">
      <h1 class="maintitle ">
        <span>WEEK 5</span>
      </h1>

      <!-- begin pricing style 1 -->
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              29
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn29">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal29" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close29">&times;</span>
          <h2>Day 29</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>Omelet made by three full eggs and some vegetables</li>
            <ol><b>Lunch</b>
              <li>Steamed brown rice or boiled noodles</li>
              <li>Cooked or boiled vegetables (asparagus, broccoli, cauliflower, zucchini, spinach, or peas)</li>            </ol>
            <br>
            <ol><b>Dinner</b>
              <li>1 Serving of fruit (apple, pear, banana, orange, grapefruit, pineapple, etc.)</li>
              <li>Any grilled or boiled lean meats (beef, chicken breast, lamb, flank steak, etc.)</li>
        </div>
        </div>
      </div>
      <div class="vuzz-pricing-table c3">
        <div class="vuzz-pricing">
          <div class="vuzz-pricing-header">
            <h5>Day</h5>
            <div class="vuzz-pricing-cost">
              30
            </div>
            <div class="vuzz-pricing-per">
            </div>
          </div>
          <div class="vuzz-pricing-button">
            <div class="vuzz-button buttonprice" id="myBtn30">
              <span class="vuzz-button-inner">Start</span>
            </div>
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal30" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close30">&times;</span>
          <h2>Day 30</h2>
          <div style="background: #cce5ff;">
            <br>
            <ol><b>Breakfast</b>
                <li>1 cup of tea or black coffee without sugar and milk</li>
                <li>2 scrambled eggs(no butter or oil)</li>
                <li>Oats with fat-free milk (oatmeal, cracked wheat, barley or polenta)</li>
            <ol><b>Lunch</b>
              <li>Oatmeal porridge</li>
              <li>Some blueberries, strawberries,raspberries or blackberries</li>            <br>
            <ol><b>Dinner</b>
              <li>Any vegetable soup with no salt added</li>
              <li>Any grilled or boiled fish or seafood (squids, crabs, shrimp)</li>        </div>
        </div>
      </div>
      <!-- end pricing style 1 -->
</div>
</div>
</div>
  {%endif%}
</div></div>

<!-- end grid -->
<!-- FOODS
      ================================================== -->
<div class="row space-top">
  <div class="c12 space-top">
    <h1 class="maintitle">
      <span>FOODS</span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="c12">
    <div class="list_carousel">
      <div class="carousel_nav">
        <a class="prev" id="car_prev" href="#">
          <span>prev</span>
        </a>
        <a class="next" id="car_next" href="#">
          <span>next</span>
        </a>
      </div>
      <div class="clearfix">
      </div>
      <ul id="recent-projects">
        <!--box 1-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <div>
                <img src="/static/images/food/meat.jpg" class="imgOpa" alt="">
              </div>
              <div class="teamdescription">
                <h1>MEAT</h1>
                <!-- <p class="hirefor">Lie on your back with your knees bent and your arms stretched forward. Then lift your upper body off the
                  floor. Hold for a few seconds and slowly return. It primarily works the rectus abdominis muscle and the
                  obliques.
                </p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 2-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <div>
                <img src="/static/images/food/seafood.jpg" class="imgOpa" alt="">
              </div>
              <div class="teamdescription">
                <h1>SEAFOOD</h1>
                <!-- <p class="hirefor">Lie down on your back, and put your hands beneath your hips for support. Then lift your legs up until they
                  form a right angle with the floor. Slowly bring your legs back down and repeat the exercise.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 3-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <div>
                <img src="/static/images/food/egg_bakery.jpg" class="imgOpa" alt="">
              </div>
              <div class="teamdescription">
                <h1>EGG AND BAKERY</h1>
                <!-- <p class="hirefor">Lie on your back with your hands behind your ears.Then lift your upper body off the floor and slowly up to
                  the sitting position. Don't tug your neck when you get up.Slowly go back to the start position and repeat
                  the exercise.If your spine hurts, please change to another homeworkout.</p> -->
              </div>
            </div>
          </div>
        </li>
        <!--box 4-->
        <li>
          <div class="featured-projects clientslogo">
            <div class="featured-projects-image">
              <div>
                <img src="/static/images/food/tea_coffee.jpg" class="imgOpa" alt="">
              </div>
              <div class="teamdescription">
                <h1>TEA AND COFFEE</h1>
                <!-- <p class="hirefor">Lie on the floor with your toes and forearms on the ground. Keep your body straight and hold this position
                  as long as you can.This exercise strengthens the abdomen, back and shoulders.</p> -->
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="clearfix">
      </div>
      </div>
      </div>
    </div>
    <!-- end grid -->
{% endblock %}